/*              Global CSS    */

/*provide buffer to left of screen*/
.left-side{
  margin-left: 5px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 12px; /* This defines the width of the scroll bar */
  height: 12px; /* Height has been set to match the width, ensuring both horizontal and vertical scroll bars are even */
}
::-webkit-scrollbar-thumb {
  border-radius: 5px; /* Border radius has been set to the same as elements within the page to give a rounded effect */
  /* The colours have set to match the theme of the page */
  background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#656565),
          to(#bbbbbb)
  );
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25),
  inset 1px 1px 1px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  /*background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);*/
}

/*logo sizing*/
#logo_image{
  margin-top: -150px;
  margin-left: 65pc;
}
/*body styling*/
body {
  font-family: "Comfortaa", cursive;
  margin: 0px;
  background-color: whitesmoke;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}
/*Nav Bar */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  font-size: larger;
}
/*nav title styled to suit the page*/
#navTitle{
  font-family: "Comfortaa", cursive;
  font-size: 90px;
  color: #ab2c2c;
  margin-left: 30pc;
}
.left-side {
  display: flex;
  margin-left: -4%;
}
/*nav link and side styling*/
.nav-wrapper > .left-side > div {
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.nav-wrapper > .right-side > div {
  margin-right: 50px;
}
.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.active-nav-link a {
  color: #727272;
}
.nav-link-wrapper a {
  color: #727272;
  text-decoration: none;
  transition: color 0.5s;
}
/*nav link underline*/
.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}
/*nav link underline on hover*/
.nav-link-wrapper a:hover {
  color: black;
}
.content-wrapper {
  background-color: whitesmoke;
  margin-bottom: 100px;
}
/* Navbar effect */
.text-focus-in {
  -webkit-animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
  both;
  animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 0.7s;
}
/*this provides a delay on elements when page refreshes*/
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/*this provide a focus effect on elements*/
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.middle {
  margin-left: -30%;
}

/* differentiate the upper page / text area */
.upperPage {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 15px;
  margin-top: -35px;
}
/* container */
.container {
  padding-top: 25px;
  margin-top: -40px;
  border-radius: 5px;
}

/* Anchor Link */
#top_link {
  color: #656565;
  margin-left: 45%;
}
#top_link:hover {
  color: #648ab5;
  margin-left: 45%;
}
/*link styles*/
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/*google map div styling*/
#map {
  height: 400px; /*height set*/
}
.mapDiv{
  padding: 5px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
}

/*  DROP DOWN BOX */
select {
  -webkit-appearance: none; /*Support for different browsers*/
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: #0d6efd; /*styles*/
  background-image: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Comfortaa", cursive;
}
/*dimensions*/
.select {
  position: relative;
  display: block;
  height: 2.9em;
  line-height: 2.9;
  background: transparent;
  overflow: hidden;
  border-radius: 15px;
  width: 280px;
  height: 50px;
}
/*drop down sizing*/
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/*style after select*/
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #0d6efd;
  pointer-events: none;
}
/*box hover*/
.select:hover::after {
  color: #0d6efd;
}
/*different browser inclusion*/
.select::after {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/*@media used to style page when dimensions change*/
@media only screen and (max-width: 1200px) {
  .middle {
    margin-left: -50px;
  }
  #navTitle{
    margin-left: -50px;
    font-size: 70px;
  }
  #logo_image{
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .middle {
    margin-left: -50px;
  }
  #navTitle{
    margin-left: -50px;
    font-size: 50px;
  }
  #logo_image{
    display: none;
  }
}
/*reduce the size of elements and remove logo, when page too small*/
@media only screen and (max-width: 920px) {
  #navTitle{
    margin-top: 50px;
    font-size: 45px;
  }
  .drop{
    display: none;
  }
  .wave{
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #navTitle{
    margin-left: -20px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 415px) {
  #navTitle{
    margin-left: -300px;
    font-size: 25px;
  }
  #logoutTab{
    margin-top: 50px;
    margin-left: -50px;
  }
}

/*WATER DROP: this provides a droplet affect from the page title */
.drop {
  position: relative;
  width: 20px;
  height: 20px;
  top: -50px;
  margin: 0 auto;
  background: #FFF;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid rgba(255,255,255,1);
  top: -22px;
}
.wave {
  position: relative;
  opacity: 0;
  top: 0;
  width: 2px;
  height: 1px;
  border: #FFF 7px solid;
  -moz-border-radius: 300px / 150px;
  -webkit-border-radius: 300px / 150px;
  border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
  width: 2px;
  height: 1px;
  border: #FFF 5px solid;
  -moz-border-radius: 300px / 150px;
  -webkit-border-radius: 300px / 150px;
  border-radius: 300px / 150px;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*ripple effect*/
@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    width: 10px;
    height: 10px;
    border-width: 1px;
    top: -100px;
    opacity: 0;
  }
}
@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 20px;
    height: 10px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}
@keyframes drip {
  to {
    top: 90px;
  }
}