body {
    background-color: #fddea4;
}

.left-side{
    margin-left: 5px;
}
/*the notifications section styling*/
.notification-list{
    padding: 20px;
    background-color: #fddea4;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#postdiv{
    background-color: #e56969;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/*styling for notifications relating to faults*/
#notificationFault{
    padding: 10px;
    background-color: #ea3e3e;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: larger;
    color: white;
    height: 50px;
}
/*styling for notifications relating to fixes*/
#notificationFix{
    padding: 10px;
    background-color: #ea3e3e;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: larger;
    color: white;
    height: 50px;
}
/*bowser info button styling*/
#viewBowserInformation{
    padding: 10px;
    height: 50px;
    font-stretch: expanded;
    background-color: #fddea4;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*width: 15pc;*/
}
#bowserButtonDiv{
    margin-top: 50px;
}
/*faq modal stlying */
#viewFAQ{
    padding: 10px;
    height: 50px;
    font-stretch: expanded;
    background-color: #6584b6;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*width: 15pc;*/
}
#FAQButtonDiv{
    margin-top: 20px;
}
#reportTxt{
    color: whitesmoke;
    text-align: center;
}
.select{
    width: 150px;
}
/*register an account submit button styles*/
#registerAccountSubmit{
    margin-left: 320px;
    margin-top: -75px
}

/*Button vibrate effects*/
.vibrate-2 {
    -webkit-animation: vibrate-2 1s linear infinite both;
    animation: vibrate-2 1s linear infinite both;
}
@-webkit-keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/*@media used to change the display when page dimensions change*/
@media only screen and (max-width: 1200px) {
    #viewBowserInformation {
        margin-left: 50px;
    }
}
@media only screen and (max-width: 500px) {
    #viewBowserInformation {
        margin-left: 0pc;
    }
}

